@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;900&family=Raleway:wght@200;300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #2277f6;
  --font-main-color: #1a1a1a;
  --font-secondery-color: #4a4a4a;
}

/* Common Css  */

.side-dash {
  position: relative;
  left: 70px;
  font-weight: 600;
  letter-spacing: 2px;
  width: 50%;
}

.side-dash span {
  width: 50px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: -65px;
  margin: 0 5px;
}

.space-between-section {
  margin: 10% 0;
}

.rounded-50 {
  border-radius: 50%;
}



/* **************************** Loader Page **************************** */

.loader{
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #f9fafa;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}


/* **************************** Home Page **************************** */

/* Header  */

.banner {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("./images/banner.jpg") no-repeat center;
  background-size: cover;
}

/* Nav Bar  */

.navbar .navbar-brand {
  width: 60px;
}

.navbar .nav-link {
  color: #fff;
  font-size: 1.2rem;
  margin: 0 7px;
  font-weight: 500;
}

.navbar .navbar-toggler img {
  color: #fff;
  fill: #fff;
}

.content {
  position: relative;

  top: 100px;
}

.banner-content h1 {
  font-weight: 400;
}

.content .image img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

/* Home Section 1  */

.home-section-1 {
  margin-top: 250px;
  position: relative;
}

.home-section-1 h2 {
  z-index: 999;
}

.home-section-1 h2::before {
  content: "ELEGANCE SIMPLICITY";
  position: absolute;
  top: -22%;
  left: 0%;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: clamp(3.5rem, 15vw, 9rem);
  text-align: center;
  margin: 0;
  z-index: -999;
  color: #f9fafa;
}

.home-section-1 .content .detail {
  padding: 0 0 0 65px;
}

.home-section-1 .content .detail h3 {
  font-size: 2.7rem;
  color: var(--font-main-color);
}

.home-section-1 .content .detail p {
  font-size: 0.95rem;
  color: var(--font-secondery-color);
}

/* Home Section 2  */

.home-section-2 {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    url("./images/banner2.jpg");
  background-size: cover;
  margin-top: 180px;
}

.home-section-2 .services-list {
  position: relative;
  top: 150px;
}

.home-section-3 {
  margin-top: 150px;
  z-index: 999;
}

.home-section-3 .fade-text {
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  z-index: -999;
}

.home-section-3 .fade-text h2 {
  font-size: clamp(3.3rem, 11vw, 9rem);
  font-weight: 700;
  color: #f9fafa;
}

.home-section-3 .info {
  z-index: 999;
  text-align: center;
  padding-top: 8%;
}

.home-section-3 .info h6 {
  font-size: 1.1rem;
}

.home-section-3 .info h3 {
  font-size: 2.4rem;
}

.home-section-3 .services {
  position: relative;
  z-index: 999;
}

.home-section-4 {
  margin-top: 100px;
  padding: 200px 0;
  background-color: #cfe2ff25;
}

.home-section-4 .fade-text h2 {
  font-size: clamp(3.3rem, 11vw, 9rem);
  transform: translate(0, -50%);
  color: #f9fafa;
}

/* **************************** Portfolio Page **************************** */

.portfolio .banner {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("./images/portfolio-banner.jpg") no-repeat center;
  background-size: cover;
}

.portfolio .portfolio-banner-content p:nth-child(1) {
  word-spacing: 3px;
  letter-spacing: 1.5px;
  color: #9a9a9a;
}

.portfolio .portfolio-banner-content h4 {
  font-family: "Raleway", sans-serif !important;
}

.portfolio .horizontal-line {
  top: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 1px;
  height: 100px;
}

.portfolio-section-1 {
  margin-top: 150px;
}

.portfolio-section-1 .fade-text h2 {
  font-size: clamp(3.3rem, 11vw, 9rem);
  transform: translate(0, 50%);
  z-index: -999;
  color: #f9fafa;
}

/* **************************** Contact Page **************************** */

.contact .banner {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("./images/contact-banner.jpg") no-repeat center;
  background-size: cover;
}

.contact .contact-banner-content p:nth-child(1) {
  word-spacing: 3px;
  letter-spacing: 1.5px;
  color: #9a9a9a;
}

.contact .contact-banner-content h4 {
  font-family: "Raleway", sans-serif !important;
}

.contact .horizontal-line {
  top: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 1px;
  height: 100px;
}

/* Contact Section 1  */

.contact .contact-section-1 {
  margin-top: 150px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


/* Contact Section 2 */

.contact-section-2 {
  margin-top: 80px;
  background-color: #cfe2ff25;
  padding-top: 0px;
  padding-bottom: 80px;
}

.contact-section-2 .fade-text {
  left: 50%;
  transform: translate(-50%, 40%);
  width: 100%;
  z-index: -999;
}

.contact-section-2 .fade-text h2 {
  font-size: clamp(3.3rem, 11vw, 9rem);
  font-weight: 700;
  color: #f9fafa;
}


/* Contact Section 3 */


.contact-section-2 .contact-card{
  transition: 0.3s ease-in-out;
  border-radius: 12px;
}

.contact-section-2 .contact-card:hover{
  box-shadow: 2px 2px 15px 2px #5bb8ff7b;
}


/* Footer  */


footer{
  background: #f9fafa ;
}

@media only screen and (max-width: 700px) {
  .home-section-1 h2::before {
    top: -13%;
  }
}

@media only screen and (max-width: 470px) {
  .home-section-1 h2::before {
    top: -5%;
  }
}
